$bg-color: #AFD4C5;
$header-color: #81B89A;
$footer-color: #81B89A;
$card-color: #AA9F99;
$button-color: #AD9A9C;
$text-color: #FFFFFF;
$additional-text-color: #aea8a1;
$additional-color: #ffa440;
$dark-color: #519170;
$range-thumb-color: #26c9c3;
$first-color-light: #8a8eaa;
$first-color-lighten: #f8f8fc;
$wrong-color: #c3666f;
$correct-color: #8fdfbf;
$xs: 375px;
$sm: 576px;
$md: 769px;
$lg: 1025px;
$xl: 1200px;