.question__img {
  width: 5rem;
  height: 5rem;
  margin: 1rem 2rem 2rem 0;
  background-size: cover;
  background-position: center;
}

.question__text {
  font-size: 1.4rem;
  position: absolute;
  bottom: 0.5rem;
}

.question__container {
   position: relative; 
}
